/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  animation: fadeIn ease 0.5s;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  animation: fadeIn ease 0.5s;
}

.container {
  padding: 0px 16px;
  max-width: 900px;
  margin: 0 auto;
  animation: fadeIn ease 0.5s;
}

h3 {
  text-align: center;
  font-size: 40px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn ease 0.5s;
}

/* Navigation */
nav {
  background-color: #333;
  animation: fadeIn ease 0.5s;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  animation: fadeIn ease 0.5s;
}

nav .container {
  display: flex;
  justify-content: flex-end;
  animation: fadeIn ease 0.5s;
}

/* Header */
header {
  background-image: url("header-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  animation: fadeIn ease 0.5s;
}

header h1 {
  font-size: 60px;
  color: #333;
  margin-bottom: 10px;
  text-shadow: 1.3px 1.3px #fff;
  animation: fadeIn ease 0.5s;
}

header h2 {
  font-size: 40px;
  font-weight: normal;
  text-shadow: 1.3px 1.3px #000;
  animation: fadeIn ease 0.5s;
}

header .social-media {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

header .social-media a {
  color: #333;
}

header .social-media a:hover {
  transform: scale(110%);
}

header .social-media a i {
  display: inline-block;
  font-size: 2.4rem !important;
  color: #000000 !important;
}

/* About */
section#about {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
  animation: fadeIn ease 0.5s;
}

section#about p {
  font-size: 18px;
  line-height: 2;
  animation: fadeIn ease 0.5s;
}

/* Skills */
section#skills {
  padding: 50px 0;
  background-color: #f1f1f1;
  text-align: center;
  animation: fadeIn ease 0.5s;
}

section#skills ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  animation: fadeIn ease 0.5s;
}

section#skills li {
  font-size: 20px;
  padding: 10px 20px;
  color: #f1f1f1;
  background-color: #333;
  animation: fadeIn ease 0.5s;
}

/* Portfolio */
section#portfolio {
  padding: 50px 0;
  background-color: #fff;
  animation: fadeIn ease 0.5s;
}

section#portfolio .row {
  display: flex;
  justify-content: center;
  animation: fadeIn ease 0.5s;
}

section#portfolio .col {
  text-align: center;
  margin: 0 20px;
  animation: fadeIn ease 0.5s;
}

section#portfolio img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  animation: fadeIn ease 0.5s;
}

section#portfolio h4 {
  margin: 10px 0;
  animation: fadeIn ease 0.5s;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  animation: fadeIn ease 0.5s;
}

footer p {
  animation: fadeIn ease 0.5s;
}

/* Media Queries */
@media (max-width: 768px) {
  h3 {
    font-size: 30px;
    color: #333;
  }
  header h1 {
    font-size: 40px;
    animation: fadeIn ease 0.5s;
  }

  header h2 {
    font-size: 30px;
    animation: fadeIn ease 0.5s;
  }

  section#about h3 {
    font-size: 30px;
    animation: fadeIn ease 0.5s;
  }

  section#about p {
    font-size: 16px;
    animation: fadeIn ease 0.5s;
  }

  section#skills li {
    font-size: 18px;
    animation: fadeIn ease 0.5s;
  }

  /* Add responsive styles for other elements as needed */
  nav .container {
    flex-wrap: wrap;
    justify-content: center;
    animation: fadeIn ease 0.5s;
  }

  nav a {
    margin: 10px 0;
    animation: fadeIn ease 0.5s;
  }

  section#portfolio .col {
    width: 100%;
    margin: 20px 0;
    animation: fadeIn ease 0.5s;
  }
}

@keyframes fadeIn {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
